<form method="post" name="openai-codex-with-nodejs" action="/">
  <div>What do you want?</div>
  <div><textarea
      type="text"
      placeholder="Describe your query here"
      name="queryPrompt"
      rows="4"
      cols="100"
    ></textarea></div>

  <br />
  <div><input type="submit" name="submit" /></div>
</form>